h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 90px;

}
ul {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;

}
li {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;

}
a {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;

}
form {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;

}