{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
    <div id="contents">
           <form name="form4" id="form4" action="" class="form4" method="POST">
                {% csrf_token %}
              <select name="tactic" id="tactic" required>
                <option value="" selected="selected">Choose a Tactics</option>
              </select>
              <select name="technique" id="technique" required>
                <option value="" selected="selected">Choose a technique</option>
              </select>
              <input id="action" value="" type="text" name="command" required placeholder="Enter a name for your action">
              <input value="" type="text" name="command" required placeholder="Enter your command...">
               <br>
              <input id="share" name="share" type="submit" value="Share">
               <br>

           </form>

    </div>
    <div id="contents">
        <h1>{{ message }}</h1>
    </div>

    <script>
    var subjectObject = {
      "Discovery": {
        "System owner/user discovery": ["Current user", "Identify active user", "Gat admin members", "Get service accounts", "System owner/user discovery"],
        "CSS": ["Borders", "Margins", "Backgrounds", "Float"],
        "JavaScript": ["Variables", "Operators", "Functions", "Conditions"]
      },
      "Back-end": {
        "PHP": ["Variables", "Strings", "Arrays"],
        "SQL": ["SELECT", "UPDATE", "DELETE"]
      }
    }
    window.onload = function() {
      var subjectSel = document.getElementById("tactic");
      var topicSel = document.getElementById("technique");
      var chapterSel = document.getElementById("action");
      for (var x in subjectObject) {
        subjectSel.options[subjectSel.options.length] = new Option(x, x);
      }
      subjectSel.onchange = function() {
        //empty Chapters- and Topics- dropdowns
        chapterSel.length = 1;
        topicSel.length = 1;
        //display correct values
        for (var y in subjectObject[this.value]) {
          topicSel.options[topicSel.options.length] = new Option(y, y);
        }
      }
      topicSel.onchange = function() {
        //empty Chapters dropdown
        chapterSel.length = 1;
        //display correct values
        var z = subjectObject[subjectSel.value][this.value];
        for (var i = 0; i < z.length; i++) {
          chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
        }
      }
    }
    var waitingclient = function() {

        document.getElementById('waitingclient').style.display = "block";
    }
    </script>
{% endblock %}