{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
    <div id="contents">

        {% if status %}
            <h1>Agent is connected</h1>
        {% endif %}
        {% if status == False %}
            <h1>Agent is disconnected</h1>
        {% endif %}
           <form name="form1" id="form1" action="" class="form3" method="POST">
              {% csrf_token %}
              <select name="showadversary" id="showadversary" required>
               <option value="" selected="selected">Select your adversary</option>
               {% for item in listadversary %}
               <option value="{{ item }}">{{ item }}</option>
               {% endfor %}
                </select>
              <input name="show" type="submit" value="Show">
           </form>
       <div class="adversaryresults">
            <table>
                <th>Tactic</th>
                <th>Technique</th>
                <th>Action</th>
                <th>Command</th>
                <th>Possible Detection</th>
            {% for item in listactions %}
                <tr>
                    {% for nextitem in item %}
                    <td>{{ nextitem }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
        <form name="form4" id="form4" action="" class="form4" method="POST">
               {% csrf_token %}
               {% if validform  %}
                   <input id="share" name="share" type="submit" value="Share">
               {% endif %}
        </form>
    </div>
    <div id="contents">
        <h1>{{ message }}</h1>
    </div>
    <script>
    var subjectObject = {
      "Discovery": {
        "System owner/user discovery": ["Current user", "Identify active user", "Gat admin members", "Get service accounts", "System owner/user discovery"],
        "CSS": ["Borders", "Margins", "Backgrounds", "Float"],
        "JavaScript": ["Variables", "Operators", "Functions", "Conditions"]
      },
      "Back-end": {
        "PHP": ["Variables", "Strings", "Arrays"],
        "SQL": ["SELECT", "UPDATE", "DELETE"]
      }
    }
    window.onload = function() {
      var subjectSel = document.getElementById("tactic");
      var topicSel = document.getElementById("technique");
      var chapterSel = document.getElementById("action");
      for (var x in subjectObject) {
        subjectSel.options[subjectSel.options.length] = new Option(x, x);
      }
      subjectSel.onchange = function() {
        //empty Chapters- and Topics- dropdowns
        chapterSel.length = 1;
        topicSel.length = 1;
        //display correct values
        for (var y in subjectObject[this.value]) {
          topicSel.options[topicSel.options.length] = new Option(y, y);
        }
      }
      topicSel.onchange = function() {
        //empty Chapters dropdown
        chapterSel.length = 1;
        //display correct values
        var z = subjectObject[subjectSel.value][this.value];
        for (var i = 0; i < z.length; i++) {
          chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
        }
      }
    }
    </script>
{% endblock %}