{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
    <div id="contents">
		<div class="section">
			<h1>Share your experience.</h1>
			<p>
				All cyber security professionals would loved to hear from you.
			</p>
			<form action="{% url 'temp:contact' %}" method="POST" class="message">
				{% csrf_token %}
				<input type="text" placeholder="Subject" name="subject" onFocus="this.select();" onMouseOut="javascript:return false;" required/>
				<textarea name="desc"></textarea>
				<input type="submit" value="Share"/>
			</form>
		</div>
	</div>
{% endblock %}