{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
	<div id="contents">
		<div class="features">
			<h1>Discover your diamond with cyber user lifecycle</h1>
			<div>
<!--				<p>-->
<!--					Increase your visionary about cyber security and threat hunting by the following cyber user lifecycle:-->
<!--				</p>-->
				<div class="homebullet">
					<img class="lifecycle" src="{% static 'temp/images/home.png' %}" alt="Img">
<!--						<ul>-->
<!--							<li>Level up your knowledge with latest threat hunting news.</li>-->
<!--							<li>Practise using Life cycle attacks in real world.</li>-->
<!--							<li>Write your comments or upload new contents and increase yours rank between threat hunters.</li>-->
<!--							<li>Sell your hunting rules to other hunters and earn money.</li>-->
<!--						</ul>-->
<!--					<p>-->
<!--						Level up your knowledge with latest threat hunting articles.-->
<!--					</p>-->
<!--					<p>-->
<!--						Practise using Life cycle of attacks in real world.-->
<!--					</p>-->
<!--					<p>-->
<!--						Write your comments or upload new contents and increase yours rank between threat hunters.-->
<!--					</p>-->
<!--					<p>-->
<!--						Sell your hunting rules to other hunters and earn money.-->
<!--					</p>-->
<!--					<p>-->
<!--						Discover new Tactics, Techniques and Procedures.-->
<!--					</p>-->
				</div>
			</div>
			<div>
				<h1>So, what is cyber user lifecycle?</h1>
				<p>
					Learning: We provide all information needed to know all aspect of an adversary. The users can search and filter all classified information in one page. Furthermore, we have embedded MITRE Matrix in our platform to simplify access to it. In our platform learning is completely self-study; there is no start date and end date and user can learn with their own pace. Moreover, we define a hypothesis section for cyber security professionals to help them make hypothesis and convert it to TTPs, emulate it and find how to detect it. The hypothesis section is one of strengths of our product which can’t be seen in the products of our competitors. Making hypothesis is main part of threat hunting, so it can would be a great feature of our platform.
				</p>
				<p>
					Emulation: Learning would not be effective until the users practice what they learned. In the emulation part of our platform, users can implement tactics, Techniques and procedures of an adversary. Moreover, they can create their own adversaries and emulate them. The result of emulation will be showed to them with possible detections. For the future, we will use artificial intelligence to help the users to make targeted adversaries.
				</p>
				<p>
					Detection: Purple is the combination of red and blue. In cyber security literature, red teams are the offenders and blue teams are the defenders. Whether these two teams work together or one team plays the role of offender and defender, the purple team will be invented. In our platform, emulation plays the role of red team and detection plays the role of blue team. In this section, users should find the possible detections based on the emulation section and implement the mitigation to see the results.
				</p>
				<p>
					Users can evaluate their knowledge and find how this platform had been effective for them. They can get their certification and add it to their resume.
				</p>
				<p>
					Collaboration: This section is the abstract of previous sections. This is the most interesting and fascinated part of platform, in which users share their experience and knowledge with others. This can be a great motivation factor for users to start learning again. In the future, we will give bonus to our customers if their content will be viewed so many times and we will use them in the learning, emulation and detection with their own name.
				</p>
			</div>
		</div>
	</div>
{% endblock %}