{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Purple Diamond</title>
			{% if flag %}
			<link href="{% static 'temp/loginstyle.css' %}" rel="stylesheet">
			{% endif %}
			{% if flag == False %}
			<link href="{% static 'temp/loginstyle.css' %}" rel="stylesheet">
			{% endif %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" async="" src="{% static 'temp/matrix/analytics.js"></script><script async="" src="Matrix%20-%20Enterprise%20|%20MITRE%20ATT&amp;CK%C2%AE_files/js.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-62667723-1');
    </script>
    <meta name="google-site-verification" content="2oJKLqNN62z6AOCb0A0IXGtbQuj-lev5YPAHFF_cbHQ">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="https://attack.mitre.org/theme/favicon.ico" type="image/x-icon">
	    <script src="{% static 'temp/main.js' %}"></script>

</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="{% url 'temp:index' %}">Purple diamond</a>
			</div>
			<ul id="navigation">
				<li>
					<a href="{% url 'temp:index' %}">Home</a>
				</li>
				<li class="dropdown">
					<a class="dropbtn">Explore</a>
					    <div class="dropdown-content">
							<a href="{% url 'temp:feature' %}">MITRE Enterprise ATT&CK framework</a>
							<a href="{% url 'temp:preattck' %}">MITRE PreAttck ATT&CK framework</a>
							<a href="{% url 'temp:mobile' %}">MITRE Mobile ATT&CK framework</a>
							<a href="{% url 'temp:mitrematrix' %}">MITRE Matrix</a>
						</div>
				</li>
				<li class="dropdown">
					<a class="dropbtn">Practice</a>
					    <div class="dropdown-content">
							<a href="{% url 'temp:emulate' %}">Emulation</a>
							<a href="{% url 'temp:makeadversary' %}">Make Adversary</a>
							<a href="{% url 'temp:hypothesis' %}">Hypothesis</a>
							<a href="{% url 'temp:ai' %}">AI</a>
						</div>
				</li>
				</li>
<!--				<li>-->
<!--					<a href="{% url 'temp:news' %}">Resources</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="{% url 'temp:about' %}">About</a>-->
<!--				</li>-->
				<li>
					<a href="{% url 'temp:certification' %}">Certification</a>
				</li>
				<li class="dropdown">
					<a class="dropbtn">Collaboration</a>
						<div class="dropdown-content">
							<a href="{% url 'temp:actioncollaboration' %}">Action</a>
							<a href="{% url 'temp:adversarycollaboration' %}">Adversary</a>
							<a href="{% url 'temp:experiencecollaboration' %}">Experience</a>
						</div>
				</li>
				<li>
					<a href="{% url 'temp:contact' %}">Contact us</a>
				</li>
				<li>
					<a href="{% url 'temp:subscription' %}">Subscription</a>
				</li>
				{% if flag %}
				<li>
					<a href="{% url 'temp:register' %}">Register</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
{% block body %}
{% endblock %}
			{% if flag %}
			<div>
				<button class="register-button" onclick="openregisterForm()">Register</button>
				<div class="registerform-popup" id="registerForm">
				  <form action="{% url 'temp:register' %}" class="form-container" method="POST">
					{% csrf_token %}
					<h1>Register</h1>
<!--					<label for="username"><b>Username</b></label>-->
<!--					<input type="text" placeholder="Enter username" name="name" required>-->
<!--					<label for="email"><b>Email</b></label>-->
<!--					<input type="text" placeholder="Enter email address" name="email" required>-->
<!--					<label for="psw"><b>Password</b></label>-->
<!--					<input type="password" placeholder="Enter Password" name="password" required>-->
<!--					<label for="confpsw"><b>Confirm Password</b></label>-->
<!--					<input type="password" placeholder="Confirm Password" name="confirmpassword" required>-->
<!--					<input type="text" placeholder="Name" name="name" onFocus="this.select();" onMouseOut="javascript:return false;" required />-->
<!--					<input type="email" placeholder="Email" name="email" onFocus="this.select();" onMouseOut="javascript:return false;" required/>-->
					<label for="email"><b>Email</b></label>
					<input type="email" placeholder="Email Address" name="username" required>
					<input type="password" placeholder="Enter Password" name="password" id="password" onFocus="this.select();" onMouseOut="javascript:return false;" onkeyup='passwordChanged();' required/>
					<input type="password" placeholder="Confirm Password"  name="confirmpassword" id="confirmpassword" onFocus="this.select();" onMouseOut="javascript:return false;" onkeyup='check();' required/>
					<button type="submit" class="btnlogin">Register</button>
					<button type="button" class="cancellogin" onclick="closeregisterForm()">Close</button>
				  </form>
				</div>
			</div>
			{% endif %}
			{% if flag %}
			<div>
				<button class="open-button" onclick="openForm()">Login</button>
				<div class="form-popup" id="myForm">
				  <form action="{% url 'temp:logging' %}" class="form-container" method="POST">
					{% csrf_token %}
					<h1>Login</h1>
					<label for="email"><b>Email</b></label>
					<input type="text" placeholder="Enter username" name="username" required>
					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="password" required>
					<a href="{% url 'temp:register' %}">Forgot your password?</a><br>
					<button type="submit" class="btnlogin">Login</button>
					<button type="button" class="cancellogin" onclick="closeForm()">Close</button>
				  </form>
				</div>
			</div>
			{% endif %}
			{% if flag == False %}
			<div>
				<button class="open-button" onclick="openForm()">Logout ({{ user.username }})</button>
				<div class="form-popup" id="myForm">
				  <form action="{% url 'temp:log_out' %}" class="form-container">
					<button type="submit" class="btnlogin">Logout</button>
					<button type="button" class="cancellogin" onclick="closeForm()">Close</button>
				  </form>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2021 Purple Diamond. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>