{% extends 'temp/layout.html' %}
{% load static %}
{% block body %}
<div class="contents"
  <div class="header">
    <div class="columns">
      <table style="width:100%">
        <tr class="price">
          <th class="header">Choose your role</th>
          <th class="header">Explorer</th>
          <th class="header">Purple Diamond</td>
        </tr>
        <tr class="price">
          <td class="grey">Explore</td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
<!--          <td class="grey"><a href="#" class="button">Sign Up</a></td>-->
        </tr>
        <tr class="price">
          <td class="grey">Emulation</td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
      </tr>
      <tr class="price">
          <td class="grey">Make adversary</td>
          <td><img src="{% static 'temp/images/uncheckmark.jpg' %}" class="checkmark"></td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
      </tr>
      <tr class="price">
          <td class="grey">Hypothesis</td>
          <td><img src="{% static 'temp/images/uncheckmark.jpg' %}" class="checkmark"></td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
      </tr>
      <tr class="price">
          <tr class="price">
          <td class="grey">Certificate</td>
          <td><img src="{% static 'temp/images/uncheckmark.jpg' %}" class="checkmark"></td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
      </tr>
      <tr class="price">
          <td class="grey">Collaboration</td>
          <td><img src="{% static 'temp/images/uncheckmark.jpg' %}" class="checkmark"></td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
      </tr>
      <tr class="price">
          <td class="grey">AI Scenarios</td>
          <td><img src="{% static 'temp/images/uncheckmark.jpg' %}" class="checkmark"></td>
          <td><img src="{% static 'temp/images/checkmark.jpg' %}" class="checkmark"></td>
      </tr>
      <tr class="price">
          <td class="grey">Price (Per month)</td>
          <td class="grey"><a>0$</a></td>
          <td class="grey"><a>10$</a></td>
      </tr>
      <tr class="price">
          <td class="grey">Price (Per Year)</td>
          <td class="grey"><a>0$</a></td>
          <td class="grey"><a><strike>100$</strike>/59$</a></td>
      </tr>
      <tr class="price">
          <td class="grey"></td>
          <td class="grey"><a href="#" class="button">Explore</a></td>
          <td class="grey"><a href="#" class="button">Sign Up</a></td>
      </tr>
      </table>
    </div>
<!--    <div class="columns">-->
<!--      <ul class="price">-->
<!--        <li class="header">Red Diamond</li>-->
<!--        <li class="grey">$ 9.99 / year</li>-->
<!--        <li>10GB Storage</li>-->
<!--        <li>10 Emails</li>-->
<!--        <li>10 Domains</li>-->
<!--        <li>1GB Bandwidth</li>-->
<!--        <li class="grey"><a href="#" class="button">Sign Up</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="columns">-->
<!--      <ul class="price">-->
<!--        <li class="header">Royal Diamond</li>-->
<!--        <li class="grey">$ 14.99 / year</li>-->
<!--        <li>10GB Storage</li>-->
<!--        <li>10 Emails</li>-->
<!--        <li>10 Domains</li>-->
<!--        <li>1GB Bandwidth</li>-->
<!--        <li class="grey"><a href="#" class="button">Sign Up</a></li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</div>
{% endblock %}