/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Play';
	src: url('../fonts/Play-Regular.eot');
	src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
    background: url("images/Backdoublesideopacity.png") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 50%;
	font-family: 'OpenSans';
	margin: 0;
}

.lifecycle {

    margin-left: 200px;
    margin-right: auto;
    height: 500px;
    width: auto;

}

img {
    background: url("images/backmain.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 50%;
	border: 0;
}
#postpic {

    width: 880px;
    height: auto;

}
.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}
.btn {
	background: url("images/bg-button.png") no-repeat;
	background-position: 0 -70px;
	color: #fff;
	display: inline-block;
	font: 24px/60px 'OpenSans';
	height: 60px;
	width: 230px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.btn:hover {
	background-position: 0 0;
}

.homebullet {
    text-align: center;

}

/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: purple;
	border-bottom: 1px solid #e6e6e6;
	padding: 7px 0;

}
#header > div, #footer > div {
	width: auto;
	margin: 0 auto;
	padding: 0 20px;
}
/** Logo **/
#header .logo {
	float: left;
	margin-left: 300px;
	margin-right: 50px;
}
#header .logo a {
	background: url("images/logo.png") no-repeat center top;
	color: #000;
	display: block;
	font: 10px/15px 'Play';
	height: 20px;
	width: 100%;
	padding-top: 68px;
	text-decoration: none;
	text-transform: uppercase;
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 50px;
	margin: 0;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;

}
#navigation li {
	float: left;
	margin-right: 70px;
	text-align: center;
}
#navigation li a {
	color: #eee;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #f99600;
}
#adbox {
	background: url("images/bg-adbox.jpg") repeat-x left top;
	height: 380px;
	padding: 60px 0;
}
#adbox > div {
	width: 800px;
	margin: 0 auto;
	padding: 0 80px;
}
#adbox > div img {
	float: right;
	margin-left: 60px;
}
#adbox h1, #adbox h2 {
	color: #2c2c2c;
	font-size: 60px;
	line-height: 60px;
	margin: 0;
	text-transform: uppercase;
}
#adbox h2 {
	font-size: 30px;
	line-height: 36px;
	text-transform: none;
}
#adbox p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
#adbox p span {
	display: block;
	font-size: 12px;
	width: 360px;
	padding: 24px 0;
	text-align: center;
}
#adbox p span b {
	font-weight: normal;
	display: block;
	width: 256px;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 510px;
	width: 1000px;
	margin: 0 auto;
	padding: 54px 40px;
	text-align: justify;
	text-justify: inter-word;
}
h1 {
	color: #003300;
	font-size: 34px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
	text-align: center;
}
h2 {
	color: #003300;
	font-size: 28px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #003300;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #003300;
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	float: left;
	width: 500px;
	margin: 0 20px;
}
#contents .features {
	width: 1000px;
	margin: 0 auto;
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}
.searchinput {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100px;
  background: #f1f1f1;
  }

.searchbutton {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
}
.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color: #727272;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}
.more:hover, .message input[type='submit']:hover {
	background-color: #f99600;
	color: #000;
}
/** main **/
.main {
	float: left;
	background: url("images/divider.png") repeat-y right top;
	min-height: 100px;
	width: 620px;
	padding-right: 24px;
}
.main h1, .sidebar h1 {
	margin: 0 0 12px;
	position: relative;
	top: -18px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	min-height: 848px;
	width: 216px;
	margin-left: 20px;
}
.sidebar ul, .news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 10px;
	position: relative;
	text-align: justify;
	text-justify: inter-word;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;

}
.posts {
	border-top: 1px solid #d5d5d5;
}
.posts li {
	border-bottom: 1px solid #d5d5d5;
	padding: 24px 10px 0;
}
.posts li p {
	font-size: 14px;
}
.posts li .title {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}
.posts li .title a {
	color: #2c2c2c;
	font-size: 16px;
	text-decoration: none;
}
.post {
	width: 785px;
	margin: 0 auto;
}
.post h1 {
	padding-top: 12px;
}
#about {
	width: 740px;
	margin: 0 auto;
}
#about h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
	text-align: center;
}
.section p {
	padding-bottom: 12px;
	text-align: center;
}
.section {
	float: left;
	width: 980px;
	margin-right: 50px;
}
.section h1 {
	margin-bottom: 18px;
}

.message {
    text-align: center;
}

.message input[type='text'], .message textarea, .message input[type='email'], .message input[type='password'] {
	color: #aeaeae;
	font-size: 13px;
	height: 33px;
	line-height: 33px;
	width: 900px;
	border: 1px solid #d5d5d5;
	margin: 0 0 6px;
	padding: 0 4px;

}
.message textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}
.message input[type='submit'] {
	float: right;
	background-color: #818181;
	color: #d5d5d5;
	cursor: pointer;
	font: 13px/30px Arial, Helvetica, sans-serif;
	height: 30px;
	border: 0;
    margin-right: 35px;
	padding: 0 20px;
}
.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: purple;
	border-top: 1px solid #d8d8d8;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
}
#footer p {
	font-size: 12px;
	line-height: 20px;
	padding-left: 10px;
}
#connect {
	float: right;
	display: inline-block;
	margin-right: 30px;
}
#connect a {
	background: url("images/icons.png") no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
#connect a.googleplus {
	background-position: 0 -40px;
    bottom: 10px;
}
#connect a.twitter {
	background-position: 0 -80px;
}
#connect a.tumbler {
	background-position: 0 -120px;
}
#connect a.facebook:hover {
	background-position: -40px 0;
}
#connect a.googleplus:hover {
	background-position: -40px -40px;
}
#connect a.twitter:hover {
	background-position: -40px -80px;
}
#connect a.tumbler:hover {
	background-position: -40px -120px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 40px;
  right: 0px;
  width: 280px;
}

.register-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 40px;
  left: 0px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  bottom: 40px;
}

.registerform-popup {
  display: none;
  position: fixed;
  left: 0px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  bottom: 80px;
  font-size: 5px:
}

/* Add styles to the form container */
.form-container {
  max-width: 260px;
  padding: 10px;
  background-color: white;
  bottom: 40px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=email] {
  width: 225px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btnlogin {
  background-color: #c20097;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 260px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancellogin {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 260px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

 /* Navbar container */
.navbar {
  overflow: hidden;

  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.tablink {
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  margin-top: 2px;
}

.firsttablink {
  font-size: 16px;
  border: 1px solid purple;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  width: 32%

}

.searchinput {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
  margin-bottom: 10px;
}

.searchbutton {
  float: left;
  width: 20%;
  padding: 10px;
  background: purple;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}



.expand {
  content: '\02795\2796';
  border-radius: 50%;
  float: right;
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: #eee;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.expand:after {
  content: '\02795\2796'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible, .mycascade li{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.mycascade p {
  background-color: #ccc;
  border: 1px solid ;
  border-radius: 25px;
  color: #444;
  padding: 18px;
  width: inherit;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-align: justify;
  margin-top: 5px;
  margin-right: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.mycascade {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

 /* Pagination links */
 .pagination {
    text-align: center;

 }

.pagination a {
  color: black;

  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.pageactive {
  background-color: purple;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.pageactive) {background-color: #ddd;}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: purple;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

------------------------------------------------------------
/* Subscription Page */
/* Create three columns of equal width */
* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 900px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: purple;
  color: white;
  font-size: 20px;
}

/* List items */
.price td {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 15px;
}

/* The "Sign Up" button */
.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}


.checkmark {
    width: 25px;
}

<----------------------Emulation----------------------------->

<----------------------Status----------------------------->
.agentstatus {
    text-align: center;

    margin-top: 100px;
}
<----------------------dropdown----------------------------->
.form1 {

}

.form1 select {
    width: 300px;
    margin-top: 50px ;
    font-size: 20px;
    font-style: inherit;
}
.form1 input, .form3 input {
    margin-top: 30px ;
    font-size: 20px;
    font-style: inherit;
}

.form1 h1 {
    margin-top: 50px ;
    font-size: 20px;
    font-style: inherit;
}

.form0 {
    text-align: center;

}

.form0 input {
    font-style:inherit;
    font-size: 50px;

}

.form2 input {
    font-style:inherit;
    font-size: 20px;

}

.form3 select {
    width: 910px;
    margin-top: 30px ;
    font-size: 20px;
    font-style: inherit;
}

.form4 select {
    width: 910px;
    font-size:20px;
    font-style:inherit;
    margin-top:30px;
    font-style: inherit;

}

.form4 input {
    width: 900px;
    font-size:20px;
    font-style:inherit;
    margin-top:30px;
    font-style: inherit;

}

#manualcommand {
    width: 900px;
    font-size:20px;
    font-style:inherit;
    margin-top:30px;

}

#share {
    width: auto;
    margin: 0;
    position: relative;
    top: 50px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.results {
    text-align: left;
    background-color: #8a8a8a;
    width: 900px;
    margin-top:50px;
}

.runadv select {
    width: 840px;
    margin-top: 30px ;
    font-size: 20px;
    font-style: inherit;
}

.runadv input {
    font-size: 20px;
    font-style: inherit;
}

.addaction select{
	width: 225px;
	font-size: 20px;
	margin-top: 30px;

}

.addaction input{
	font-size: 20px;

}

.adversaryresults table {
	width: 960px;
	margin-top: 25px;
}

.adversaryresults table, th, td {
	border: 1px solid black;

}

.radio {
    font-size: 20px;
    margin: 10px;

}

.certbtn {
    margin-top: 25px;
    width: 100px;
    float: left;

}