{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'Flights/styles.css' %}" rel="stylesheet">
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>